/*
    Author: Mark Schuurmans
    Date: 18-5-2021

    Praktijkopdracht Thema 4
*/

/* Verwijderd margin en padding die in style.css worden meegegeven (nodig om de content van section tag in het midden te zetten) */
body {
    margin: 0;
    padding: 0;
}
section {
    /* Image in Header hoogte 0 footer hoogte 0 */
    padding: 175px 0 200px 0;
    min-height: 100vh;
    text-align: center;
}

table {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    /* Laat de randen in elkaar overkomen */
    border-collapse: collapse;
}

table td,
table th {
    padding: 0.25em;
    border: 1px solid #555;
    /* clamp(min, ideal, max) Font size */
    font-size: clamp(0.5rem, 0.125rem + 1.7vw, 1rem);
    color: #222;
}

.wrong--password {
    font-size: 1.75rem;
    margin: 0 0.25em 0.75em 0.25em;
}

.loginBtn {
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: rgba(220, 220, 220, 0.7);
    color: #333;
    display: inline-block;
    transition: background-color 300ms ease;
}

.loginBtn:hover {
    background-color: rgba(220, 220, 220, 1);
}

/* Zet de footer helemaal onderaan voor als de pagina te klein is om boven 100vh uit te komen */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
