/* 
    Author: Mark Schuurmans
    Date: 21-12-2020
    File: styles/navbar.scss

    Stylesheet Portfolio Project


Table of contents

1. Global Styles

2. Typography

3. Layout Styling
    3.1 Breadcrumbs Styling
    3.2 Header Styling
    3.3 Mobile navigation
    3.4 Burger Menu

3. Componets

4. Mobile Styling
    4.1 Mobile landscape

5. Print Styles
*/

/* =================
     Global Styles
   ================= */

* {
    /* Verwijderd alle (onnodige) padding die op alle element van de website zitten */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Zet de font naar "Segoe UI" op alle elementen met paar fallback fonts. */
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

:root {
    --primary-accent-color: hsl(340, 70%, 40%);
    --primary-color: hsl(345, 100%, 40%);
    --primary-color-hsl: 345, 70%, 40%;
    --background: hsl(202, 100%, 98%);
    --text-color: #444;
    --header-height: 80px;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: var(--background);
}

header nav {
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    transition: transform 600ms ease;
}

header ul {
    max-width: 900px;
    margin: 0 auto;
    height: var(--header-height);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    list-style: none;
}

nav img {
    position: absolute;
    left: 0;
    top: 0;
}

.inlog--link,
.search--container {
    font-size: 14px;
    display: inline-block;
    padding: 0.5em 1em;
    border: 3px solid #c03;
    border-radius: 0.5em;
}

input {
    border: none;
    background: transparent;
}

input:focus,
input:hover {
    outline: none;
}

.inlog--link {
    background-color: #c03;
    color: white;
}

.inlog--link svg {
    fill: white;
    height: 1em;
    margin-right: 0.5em;
}

.search--container svg {
    height: 1em;
    margin-right: 0.5em;
    fill: #c03;
}

.background {
    height: 50vh;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    background-image: url("../images/btc.jpg");
    background-position: center center;
    background-size: cover;
}

main {
    padding-top: var(--header-height);
    background-color: white;
}

section {
    max-width: 1440px;
    margin: 0 auto;
}

.intro {
    display: flex;
}

.intro div {
    flex: 1 1 400px;
    color: black;
}

.intro h1 {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: clamp(2rem, 1.5rem + 2.25vw, 3.5rem);
    display: inline-block;
    padding: 0.25em;
}

.sponsors {
    display: flex;
    max-width: 900px;
    flex-wrap: wrap;
    gap: 1rem 3rem;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    border: 0.5em solid white;
    transform: translateY(-50%);
    padding: 0 3em;
    border-radius: 1em;
}

.sponsors div {
    flex: 0 1 150px;
}

.sponsors img {
    width: 100%;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.navigation > div {
    flex: 0 1 250px;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
    border-radius: 0.5em;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.contact--section {
    background-color: white;
    color: #5d5d5d;
}

.contact--section {
    min-width: 60%;
    margin: 200px auto;
    display: flex;
    flex-wrap: wrap;
}

.contact__link--container {
    margin-top: 1.5em;
}

.contact--section svg {
    height: 1em;
}

.contact__link--container a {
    display: block;
    background-color: hsl(0, 0%, 95%);
    max-width: 200px;
    padding: 0.25em;
    text-align: center;
    border-radius: 0.25em;
    font-size: 14px;
    color: hsla(0, 0%, 0%, 0.9);
}

.contact__link--container a:first-of-type {
    margin-bottom: 0.25em;
}

.contact--section > div {
    flex: 1 1 300px;
}

.image--container {
    display: inline-block;
    font-size: 16px;
    width: 40px;
    fill: #c03;
}

footer {
    background-color: #111;
    color: white;
    padding: 2em;
}

footer div {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top {
    background-color: hsla(0, 0%, 100%, 0.2);
    padding: 0.5em 3em;
    border-radius: 2em;
}

.login--container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 99999;
    transform: translateX(200%);
    transition: transform 1200ms ease-out;
}

.open {
    transform: translateX(0);
}

.content--wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.login--container article {
    flex: 1 1 400px;
    display: flex;
    align-items: center;
}
.login--container article:first-of-type {
    z-index: 2;
}

.login--container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 210vh;
    border-radius: 50%;
    background: linear-gradient(-45deg, var(--primary-color), var(--primary-accent-color));
    top: -100%;
    right: 50%;
    /* left: 0; */
    /* transform: translateY(-50%); */
    z-index: 1;
}

form {
    flex: 1;
    text-align: center;
}

.login--container h2 {
    color: var(--text-color);
    font-size: 2.2rem;
}

.input--container {
    max-width: 380px;
    background-color: #f0f0f0;
    margin: 1em auto;
    /* height: 55px; */
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 1em 0.4rem;
    position: relative;
}

.input--container svg {
    height: 1.1rem;
}

.input--container path {
    fill: #acacac;
}

.input--container input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input--container input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.svg--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 150px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--primary-accent-color);
}

.exit-btn {
    font-size: 10px;
    position: absolute;
    cursor: pointer;
    top: 1em;
    left: 1em;
    z-index: 999999999999999999999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit-btn svg {
    width: 4em;
    height: 4em;
}

.exit-btn path {
    fill: white;
}
